
<!-- Page Contents -->
<div class="ui vertical masthead center aligned segment">

  <div class="ui main text container" >
    <h1 class="ui header">
      Donna Lou
    </h1>
    <div>
    	Hello! My name is Donna Lou.
    	</br>Welcome!
    </div>
  </div>
</div>




