<div class="ui main text container">
  <h1 class="ui header">Resume</h1>

  <div class="ui grid">
	  <div class="four wide column">
	    <div class="ui vertical fluid tabular menu">
	      <a class="active item" data-tab="introTab">
	        Intro
	      </a>
	      <a class="item" data-tab="workExpTab">
	        Work Experience
	      </a>
	      <a class="item" data-tab="otherProjTab">
	        Other Projects
	      </a>
	      <a class="item" data-tab="educationTab">
	        Education
	      </a>
	    </div>
	  </div>
	  <div class="twelve wide stretched column">
	    <div class="ui tab active" data-tab="introTab">
	      1
	    </div>
	    <div class="ui tab" data-tab="workExpTab">
	      2
	    </div> 
	    <div class="ui tab" data-tab="otherProjTab">
	      3
	    </div> 
	    <div class="ui tab" data-tab="educationTab">
	      4
	    </div> 
	  </div>
	</div>
  
</div>
