<div class="ui main text container">
  <h1 class="ui header">Resume</h1>

  <div class="ui grid">
	  <div class="four wide column">
	    <div class="ui vertical fluid tabular menu">
	      <a class="active item" data-tab="introTab">
	        Summary
	      </a>
	      <a class="item" data-tab="workExpTab">
	        Work Experience
	      </a>
	      <a class="item" data-tab="otherProjTab">
	        Personal Projects
	      </a>
	      <a class="item" data-tab="educationTab">
	        Education
	      </a>
	    </div>
	  </div>
	  <div class="twelve wide stretched column">
	    <div class="ui tab active" data-tab="introTab">
	      <h3>Hello there!</h3>
	      <p>My name is Donna and this is my intro wip.</p>
	    </div>
	    <div class="ui tab" data-tab="workExpTab">
	      <div>
	      	<h3>General Atomics (2014-present)</h3>
	      </div>
		  	<div class="ui divider"></div>
	      <div>
	      	<h3>OwnerGUARD Inc. (2014)</h3>
	      </div>
		  	<div class="ui divider"></div>
	      <div>
	      	<h3>Neustar Localeze (2011-2014)</h3>
	      </div>
		  	<div class="ui divider"></div>
	      <div>
	      	<h3>UCSD Education Studies (2008-2011)</h3>
	      </div>
	    </div> 
	    <div class="ui tab" data-tab="otherProjTab">
    		<div>
		      <h3>Summoners HQ</h3>
		      <p>This is a League of Legends inspired fan app I worked on in my spare time. It was built for Windows Phone 7 market place. It was first released in Sep 2012, and the last update I made of it was in Jan 2013. It received a few hundred downloads over that period of time. It was taken down from the App store due to lack of time to keep maintaining the app and loading it with new content. My Windows Developer license also expired in 2013.</p>
		      <a href="https://www.microsoft.com/en-us/store/apps/summoner-hq/9nblggh0k485" target="_blank">Summoners HQ available on Microsoft App Store</a>
		  	</div>
		  	<div class="ui divider"></div>
		  	<div>
		      <h3>Pets Fur Lease</h3>
		      <p>Ruby on Rails project because I love animal. Work in Progress.</p>
		  	</div>
		  	<div class="ui divider"></div>
		  	<div>
		      <h3>Redesign of Lucky Pup Dog Rescue website</h3>
		      <p>For a quick web design project, I decided to redesign a local dog rescue website. This was a quick weekend project using html5, javascript, and the Semantic UI framework. I made a quick youtube video of the website and sent it to the Lucky Pup Dog Rescue founders. </p>
		      <p>Video can be seen on <a href="https://www.youtube.com/watch?v=3RQvNA5hYfM" target="_blank">youtube</a>.</p>
		  	</div>
	    </div> 
	    <div class="ui tab" data-tab="educationTab">
	      <h3>University of California, San Diego (UCSD)</h3>
	      <p>I received my B.S in Computer Science from UCSD in 2011.</p>
	    </div> 
	  </div>
	</div>
  
</div>