<div class="ui main text container">
  <h1 class="ui header">Crafting Projects</h1>
  <p>Hello. I am interested in all things DIY and Crafting. And this page will showcase some of the projects I have worked on.</p>
  <p>Under Construction </p> 

</div>