@import "semantic-ui";

 
.main{
	padding: 100px 0px
}

.main{
	h1.ui.header{
		color:#2A5F44
	}
	h2.ui.header{
		color:#D94A33
	}
	h3{
		color:#4183C4
	}
}

.ui.vertical.footer.segment{
	background: #8EB897
}

.footer{
	.ui.link.list{
		a:hover{
			color: #D5F2E3
		}
		a{
			color: #2A5F44
		}
	}
}