<!DOCTYPE html>
<html>
	<head>
	  <title>DonnaApp</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>		

		<!-- Following Menu -->
		<div class="ui large top fixed hidden menu">
		  <div class="ui container">
		    <a class="active item" href="/">Home</a>
		    <a class="item" href="/resume">Resume</a>
		    <a class="item" href="/crafting/index">Crafting</a>
		    <div class="right menu">
		      <div class="item">
		    		<a href="mailto:dylou88@gmail.com?subject=Contact from DonnaApp" target="_blank">Contact</a>
	    		</div>
		      <div class="item">
		        <a class="ui icon" href="https://github.com/DonnaLou" target="_blank"><i class="large github icon"></i></a>
		        <a class="ui icon" href="https://www.linkedin.com/in/donna-lou-02957733" target="_blank"><i class="large linkedin square icon"></i></a>
		      </div>
		    </div>
		  </div>
		</div>

		<%= yield %>

		<div class="ui inverted vertical footer segment">
	    <div class="ui container">
	      <div class="ui stackable inverted divided equal height stackable grid">
	        <div class="three wide column">
	          <h4 class="ui inverted header">About</h4>
	          <div class="ui inverted link list">
	            <a href="/bio" class="item">Bio</a>
	            <a href="/resume" class="item">Resume </a>
	            <a href="/coding/index" class="item">Coding </a>
	            <a href="/crafting/index" class="item">Crafting </a>
	          </div>
	        </div>
	        <div class="three wide column">
	          <h4 class="ui inverted header">Social Media</h4>
	          <div class="ui inverted link list">
	            <a href="http://github.com/DonnaLou" target="_blank" class="item">Github</a>
	            <a  href="https://www.linkedin.com/in/donna-lou-02957733" target="_blank" class="item">Linked In </a>
	            <a href="#" class="item">Instagram</a>
	            <a href="#" class="item">Youtube </a>
	          </div>
	        </div>
	        <div class="seven wide column">
	          <h4 class="ui inverted header">Contact</h4>
	          <p>dylou88@gmail.com</p>
	        </div>
	      </div>
	    </div>
	  </div>

	</body>
</html>
